---
import { Image } from "astro:assets";
import Calendar from "../../icons/Calendar.astro";
import Clock from "../../icons/Clock.astro";
import Eye from "../../icons/Eye.astro";
import MessageSquare from "../../icons/MessageSquare.astro";
import type { Post } from "../../interfaces/Post";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<article
    class="bg-gray-800 rounded-lg overflow-hidden border border-gray-700 hover:border-emerald-500 transition-all duration-300 hover:shadow-lg hover:shadow-emerald-500/10 group flex flex-col h-full"
>
    <a href={`/blog/${post.slug}`} class="block overflow-hidden">
        <div class="relative h-48 overflow-hidden">
            <Image
                src={post.coverImage}
                alt={post?.title || "hola"}
                width={850}
                height={850}
                class="object-cover transition-transform duration-500 group-hover:scale-105"
            />
            <div class="absolute top-0 left-0 m-3">
                <span
                    class="px-2 py-1 text-xs font-medium bg-emerald-600 text-white rounded-md"
                    >{post.categories}</span
                >
            </div>
        </div>
    </a>

    <div class="p-6 flex flex-col flex-grow">
        <div class="flex flex-wrap gap-2 mb-3">
            {
                post.tags &&
                    post.tags
                        .slice(0, 3)
                        .map((tag) => (
                            <span class="text-xs px-2 py-1 bg-gray-700 text-emerald-400 rounded-md">
                                {tag}
                            </span>
                        ))
            }
            {
                post.tags && post.tags.length > 3 && (
                    <span class="text-xs px-2 py-1 bg-gray-700 text-gray-300 rounded-md">
                        +{post.tags.length - 3}
                    </span>
                )
            }
        </div>

        <a href={`/blog/${post.slug}`}>
            <h3
                class="text-xl font-bold mb-2 group-hover:text-emerald-400 transition-colors"
            >
                {post.title}
            </h3>
        </a>

        <p class="text-gray-300 mb-4 flex-grow capitalize">
            {post.description}
        </p>

        <div
            class="flex items-center text-sm text-gray-400 mt-auto pt-4 border-t border-gray-700"
        >
            <div class="flex items-center gap-1 mr-4">
                <Calendar class="w-4 h-4" />
                <span
                    >{
                        post.createdAt.toDate().toLocaleDateString("es-ES", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        })
                    }</span
                >
            </div>
            <div class="flex items-center gap-1">
                <Clock class="w-4 h-4" />
                <span>{post.readingTime}</span>
            </div>
        </div>
    </div>

    <div class="px-6 pb-4 flex items-center justify-between">
        <div class="flex items-center gap-4">
            <!-- <button
                class="flex items-center gap-1 text-sm"
            >
                <Heart
                    class={`w-5 h-5 ${isLiked ? "text-red-500 fill-red-500" : "text-gray-400"}`}
                />
                <span>{post.likes + (isLiked ? 1 : 0)}</span>
            </button> -->

            <a
                href={`/blog/${post.slug}#comments`}
                class="flex items-center gap-1 text-sm text-gray-400"
            >
                <MessageSquare class="w-5 h-5" />
                <span>12</span>
            </a>
        </div>

        <a
            href={`/blog/${post.slug}`}
            class="flex items-center gap-1 text-sm text-gray-400"
        >
            <Eye class="w-5 h-5" />
            <span>Ver</span>
        </a>
    </div>
</article>
